.container{
    display:grid;
    grid-template-areas: 
    'header header header header'
    'main content content content'
    'footer footer footer footer '
    ;
    grid-gap: 1rem;
}
.item{
    background-color:bisque;
    border: 4px solid #000;
    text-align: center;
    padding: 5px;
}
#header{
    grid-area:header;
}
#main{
    grid-area:main;
}
#content{
    grid-area:content;
}
#footer{
    grid-area:footer;
}