body{
    font-size: 52px;
    color: tomato;
    padding:205px;
}
.grandParent{
    background: #000;
    height:22rem;
    width:22rem;
    display:flex;
    justify-items:center;
    align-items:center;
    padding:25px;
    

}
.parent{
    background: aquamarine;
    height:12rem;
    width:12rem;
    display:flex;
    justify-items:center;
    align-items:center;
    padding:25px;


}
.child{
    background: gray;
    height:6rem;
    width:6rem;
    display:flex;
    justify-items:center;
    align-items:center;
    padding:25px;

}